{% extends 'layout.html' %} {% from "_render_field.html" import render_field %} {% block content %}
<form method="POST" action="" enctype="multipart/form-data">

    {{ form.hidden_tag() }}
    <fieldset>
        {{ render_field(form.name) }} {{ render_field(form.gender) }} {{ render_field(form.city) }} {{ render_field(form.born) }} {{ form.picture.label() }} {{ form.picture(class="form-control-file") }}
    </fieldset>
    {% if form.picture.errors %}
    <fieldset>

        <ul>
            {% for error in form.picture.errors %}
            <li>{{ error }}</li> {% endfor %}
        </ul>

    </fieldset>
    {% endif %}

    <fieldset>
        {{ form.submit() }}
    </fieldset>
</form>
</div>
{% endblock content %}