{% extends "simple_layout.html" %} {% from "_render_field.html" import render_field %} {% block content %}

<h1 style="padding: 20px">Login to your Account</h1>
<p style="padding-left: 20px">
    Don't you have an account yet? Register <a href="{{ url_for('users.register') }}">here</a> for free!
</p>
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>

            {{ render_field(form.username) }} {{ render_field(form.password) }}

            <div>
                {{ form.remember() }} {{ form.remember.label() }}
            </div>

            <div>
                {{ form.login() }}
            </div>
        </fieldset>
    </form>
</div>
{% endblock content%}