{% extends "simple_layout.html" %} {% from "_render_field.html" import render_field %} {% block content %}
<h1 style="padding: 20px;">Register to Social Network!</h1>
<div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>

            {{ render_field(form.username) }} {{ render_field(form.password) }} {{ render_field(form.confirm_password) }} {{ render_field(form.name) }} {{ render_field(form.gender) }} {{ render_field(form.city) }} {{ render_field(form.born) }} {{ form.submit(class="btn
            btn-outline-info") }}

    </form>
</div>
<div>
    <p>
        Already have an account? Login <a href="{{ url_for('users.login') }}">here</a>.
    </p>
</div>
{% endblock content%}