{% extends "simple_layout.html" %} {% from "_render_field.html" import render_field %} {% block content %}
<h1 style="padding: 20px;">Register for free to Gigmate!</h1>
<div class="content-section">
    <form method="POST" action="" class="standard-form">
        {{ form.hidden_tag() }}
        <fieldset>

            {{ render_field(form.username) }} {{ render_field(form.password) }} {{ render_field(form.confirm_password) }} {{ render_field(form.name) }} {{ render_field(form.gender) }} {{ render_field(form.city) }} {{ render_field(form.born) }} {{ form.submit(class="btn
            btn-outline-info") }}

    </form>
</div>
<div class="form-switcher">
    <p>
        Already have an account? Login <a href="{{ url_for('users.login') }}">here</a>.
    </p>
</div>
{% endblock content%}