body {
    margin: 0;
    padding: 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1em 3em;
    background-color: lightgrey;
    margin-bottom: 5em;
}

.btn {
    font-weight: bold;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 0.5em;
    margin: 1em;
    border: 0.1em dashed black;
}

.m {
    text-align: center;
    color: darkgrey;
}

h1 {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

form {
    /* margin: 0 40em; */
    display: inline-block;
    text-align: left;
}