{% extends 'layout.html' %} {% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.css" /> {% endblock head%} {% block content %}
<h2>
    {% if data %} Edit Contact {% else %} New Contact {% endif %}
</h2>

<form method="post">
    <input type="hidden" name="id" value="data.id" />
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" value="{{data.name}}" required>
    </div>
    <div>
        <label for="type">Venue Type</label>
        <input type="text" name="type" value="{{data.v_type}}" required>
    </div>
    <div>
        <label for="address">Country</label>
        <input type="text" name="address" value="{{data.address}}" required>
    </div>
    <div>
        <label for="country">Country</label>
        <input type="text" name="country" value="{{data.country}}" required>
    </div>
    <div>
        <label for="city">City</label>
        <input type="text" name="city" value="{{data.city}}" required>
    </div>
    <div>
        <label for="zip">Zip Code</label>
        <input type="text" name="zip" value="{{data.zip_code}}" required>
    </div>
    <input type="submit" value="Done" />
</form>


{% endblock content %} {% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/sl-1.3.1/datatables.min.js"></script>
<script>
</script>
{% endblock scripts %}