{% extends 'layout.html' %} {% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/sl-1.3.1/datatables.min.js"></script>
<script>
    function del(id) {
        // console.log('del')
        $.ajax({
            type: 'POST',
            url: '/del_contact',
            data: {
                venue_id: id
            }
        });
        document.location.reload()
    }
    $(document).ready(function() {
        $('#mydatatable').DataTable()
    })
</script>
{% endblock scripts %} {% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.css" /> {% endblock head%} {% block content %}

<h2>My Contacts</h2>

<table id="mydatatable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="th-sm">ID
            </th>
            <th class="th-sm">Venue
            </th>
            <th class="th-sm">Type
            </th>
            <th class="th-sm">City
            </th>
            <th class="th-sm">Country
            </th>
            <th class="th-sm">Rating
            </th>
            <th class="th-sm">Contact Quality
            </th>
            <th class="th-sm">Action
            </th>
        </tr>
    </thead>
    <tbody>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact.id }}</td>
            <td>{{ contact.name }}</td>
            <td>{{ contact.v_type }}</td>
            <td>{{ contact.city }}</td>
            <td>{{ contact.country }}</td>
            <td>{{ contact.rating }}</td>
            <td>{{ contact.contact_quality }}</td>
            <td>
                <button id="edit-button" onclick="location.href='edit_contact/{{contact.id}}'">Edit</button> |
                <button id="del-button" onclick="del({{contact.id}})">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}