{% extends 'layout.html' %} {% block scripts %}
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.js"></script> -->
<script>
    function delFriend(id) {
        console.log('del')
        $.ajax({
            type: 'POST',
            url: '/del_friend',
            data: {
                friend_id: id
            }
        });
        document.location.reload()
    }
</script>
{% endblock scripts %} {% block content %}
<section class="info">
    <img src="../../static/img/{{ user.image_file }}">
    <div class="infofiels">
        <h1>{{user.name}}</h1>
        <h3>{{user.username}}</h3>
        <p>{% if user.gender %} Female {% else %} Male {% endif %}</p>
        <p>Born {{user.born}}</p>
        <p>Lives in {{user.city}}</p>
        {% if f == None %} <button onclick="location.href='{{ url_for('users.edit') }}'">Edit</button> {% endif %}
    </div>
</section>
{% if f != None %}
<section>
    {% if f %}
    <botton class="btn" onclick="delFriend()">Delete from Friends</botton>
    {% else %}
    <botton class="btn" onclick="addFriend()">Add to Friends</botton>
    {% endif %}
</section>
{% endif %}
<section class="posts">
    <h1>Posts: </h1>
    {% for p in posts %}
    <div style="text-align: left; border: dashed black; padding: 1em; margin: 3em;">
        <p>{{p.text}}</p>
        <h5>{{p.date_created}}</h5>
    </div>
    {% endfor %}
</section>
{% endblock content %}