{% extends 'layout.html' %} {% block scripts %}
<script>
    function delFriend(id) {
        console.log('del')
        let formData = new FormData();
        formData.append('friend_id', id);
        fetch('/del_friend', {
            method: "POST",
            body: formData
        }).then(
            () => document.location.reload()
        )
    }

    function addFriend(id) {
        console.log('add')
        let formData = new FormData();
        formData.append('friend_id', id);
        fetch('/add_friend', {
            method: "POST",
            body: formData
        }).then(
            () => document.location.reload()
        )
    }
</script>
{% endblock scripts %} {% block content %}
<section>
    <h1>{% if f == None %} Friends {% else %} Search {% endif %}</h1>
    {% if users %} {% for user in users %}
    <div style="margin-bottom: 3em;">
        <div class="info" onclick="location.href='/{{ user.username }}'">
            <img src="../../static/img/{{ user.image_file }}" style="height: 5.5em;">
            <div class="infofiels">
                <h2>{{ user.name }}</h2>
                <p>{{ user.username }}</p>

            </div>
        </div>
        <div class="info">
            <button onclick="location.href='/chat/{{ user.username }}'">Messages</button> {% if f == None or f[user.id] %}
            <button onclick="delFriend({{ user.id }})">Delete</button> {% else %}
            <button onclick="addFriend({{ user.id }})">Add</button> {% endif %}
        </div>
    </div>
    {% endfor %} {% else %}
    <p>
        No {% if f == None %} Friends yet {% else %} Search Results {% endif %}
    </p>
    {% endif %}
    <div></div>
</section>
{% endblock content %}